<h1 class='text-center'>What is this?</h1>
<br><br>
<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<blockquote>
			<p class="lead">One does not simply find places to spend Bitcoin ... </p>
		</blockquote>
		<blockquote>
			<p class="">
			This app visualizes the mountain of merchants listed on <a href="http://bitcoin.it/wiki/Trade">bitcoin.it/wiki/Trade</a> , but sorts them based on their alexa ranks. Only merchants with ranks under 1,000,000 are shown. Data collected as of 28th Nov 2013.
			<p>
		</blockquote>
		<blockquote>
			<p class="">
			Built on top of <a href="http://angularjs.org/">AngularJS</a> and inspired by <a href="http://www.nytimes.com/interactive/2012/02/13/us/politics/2013-budget-proposal-graphic.html?_r=0">this</a>. Source code on <a href="https://github.com/BitcoinMafia/tradewiki">Github</a>
			<p>
		</blockquote>
		<blockquote>
			<p class="">
			Please direct hate-mail, feature requests and collab ideas to scottli0101@gmail.com
			<p>
		</blockquote>
	</div>
</div>
