<table class="table table-striped table-hover" style>
	<thead>
		<tr>
			<th>Alexa Rank</th>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>Subcategory</th>
		</tr>
	</thead>
	<tbody>
		<tr class='text-center' ng-repeat="(key, value) in merchantsArray(merchants)">
			<td>
				<h3>
					<span class="label label-success label-square">
						<a href="http://www.alexa.com/siteinfo/{{value.url}}" target="_blank">{{value.alexa.withCommas()}}</a>
					</span>
				</h3>
			</td>
			<td>
				<h4>
					<strong>
						<a href="{{value.url}}" target="_blank">{{key}}</a>
					</strong>
				</h4>
			</td>
			<td>
				<blockquote>
					{{value.description}}
				</blockquote>
			</td>
			<td>
				<h6>
					<strong>{{value.category}}</strong>
				</h6>
			</td>
			<td>
				<h6>
					<strong>{{value.subcategory}}</strong>
				</h6>
			</td>
		</tr>
	</tbody>
</table>
