<div class="row">
	<!-- Sidebar -->
	<div class="col-md-3">
		<sidebar></sidebar>
	</div>

	<!-- Main Body -->
	<div class="col-md-9">
		<tabset type="'pills'">
			<tab heading="Chart">
				<br>
				<chart-bubble id="vis" sidebar="sidebar"></chart-bubble>
			</tab>
			<tab heading="Table">
				<br>
				<!-- <chart-table></chart-table> -->
			</tab>
			<div class="pull-right">
				<a class="btn btn-info label-square" href="/data/merchants.json">Export JSON</a>
			</div>
		</tabset>
	</div>
</div>

