<br><br>
<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">FILTERS</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <h4>
            <span class="label label-primary label-square">SEARCH: </span>
          </h4>
        </div>
        <div class="col-md-8">
          <input class='form-control' ng-model="sidebar.search">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>
            <span class="label label-primary label-square">ALEXA: </span>
          </h4>
        </div>
        <div class="col-md-8">
          <slider floor="1000" ceiling="1000000" step="1000" precision="0" ng-model="sidebar.alexa"></slider>
          <small><= {{sidebar.alexa.withCommas()}}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>
            <span class="label label-primary label-square">LIMIT: </span>
          </h4>
        </div>
        <div class="col-md-8">
          <slider floor="1" ceiling="300" step="1" precision="0" ng-model="sidebar.limit"></slider>
          <small><= {{sidebar.limit}}</small>
        </div>
      </div>
      <br>
      <div class="line-divider"></div>
      <h4 class='text-center'>
        <span class="label label-primary label-square">CATEGORIES: </span>
      </h4>
      <br>
      <div ng-repeat="(key, value) in sidebar.categories">
        <label class='icheck-box'>
          <input type="checkbox"
          ng-model="value.checked" i-check checked="{{value.checked}}">
          <div class="checkbox-label text-{{value.checked ? 'default' : 'muted'}}" >
            <span class='label-category' style="background-color:{{value.color}}; color:{{value.color}}">[ ...]</span> {{key}}
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
